html {
  background-color: rgb(82, 86, 89);
  font-family: sans-serif;
}

.topcolor {
  min-height: 7px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.5);
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: white;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.5);
}

h1 {
  margin-top: 0;
  margin-bottom: 5px;
}

svg {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: 100%;
}

#svg_lines line {
  stroke-width: 4;
  stroke-linecap: round;
}

#svg_boxed text {
  font-family: monospace;
}

#svg_lines_redux line {
  stroke-width: 4;
  stroke-linecap: round;
}

#svg_lines_redux .aline {
  stroke: red;
}

#svg_lines_redux .bline {
  stroke: green;
}

#svg_lines_redux .cline {
  stroke: blue;
}

//

svg .nodecircle { }

svg .nodetext {
  font-size: 12pt;
  font-family: monospace;
}

svg .clientname {
  font-size: 12pt;
  font-family: monospace;
}

svg .clientline {
  stroke-width: 4;
  stroke-linecap: round;
}

svg .clienttext {
  font-family: monospace;
  font-size: 8pt;
}

svg .clientaxis {
  stroke: gray;
  stroke-width: 0.5;
  stroke-linecap: round;
}

svg .clientprogress {
  stroke: black;
  stroke-width: 1;
}

svg .msg {
  r: 6;
}

svg .linbar {
  stroke-width: 8;
  stroke-linecap: round;
}

svg .lincalltext, svg .linresptext, svg .linregtext {
  font-size: 8pt;
  font-family: monospace;
  text-anchor: middle;
  alignment-baseline: central;
}

svg .linline {
  stroke: black;
  stroke-width: 3;
}

svg .linregbox {
  stroke: black;
  stroke-width: 1;
  fill-opacity: 0.4;
}

svg .lintimeline {
  stroke: black;
  stroke-width: 1;
  stroke-opacity: 0.5;
}
